@import 'variables.scss';
@import 'cards.scss';

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: $main-bg-color;
  font-family: 'Montserrat', sans-serif;
  color: $text-color;
}
