@import 'variables.scss';
@import 'components.scss';
@import 'price-table.scss';

body {
  font-family: 'Montserrat', sans-serif;
  color: $text-color;
  display: flex;
  justify-content: center;
  align-items: center;
}
